<!--
  Generated template for the ListaAmigos page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lista Amigos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button type="button" ion-button block [navPush]="buscarAmigoPage">Busca Amigos</button>

  <ion-list>
    <ion-item *ngFor="let k of amigos|keys; let i = index" (click)="opcionesAmigo(amigos[k], k)">
      <ion-avatar item-right>
        <img [src]="amigosReciber.profile_picture">
      </ion-avatar>
      <!-- [ngClass]="{'text-danger': amigos[k].amigo2 == userId, 'text-success':amigos[k].amigo2 != userId}" -->
      <h2>{{amigosReciber.username}}</h2>
      <h3 *ngIf="amigos[k].aceptada==true">Aceptada</h3>
      <h3 *ngIf="amigos[k].aceptada==false">No Aceptada</h3>
      <h4 *ngIf="amigos[k].amigo2 != userId">Envio</h4>
    </ion-item>
  </ion-list>
</ion-content>
